*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-size: 18px;
	color: white;
	font-family: sans-serif;
	background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.container{
	width: 100%;
	height: 100%;
	
}
h5{
	font-size: 1.1em;
	margin: 2em 0 1.5em 0;

}
a{
	text-decoration: none;
	color: black;
}
.grid{
	height: 100%;
	margin: 3em auto;
	display: flex;
	justify-content: space-around;align-items: center;
}


.box{
	margin-top: 3.9em auto ;
	
	width: 300px;
	height: 500px;
	background-color: white;
	box-shadow: 5px 5px 20px black;
	border-radius: 10px;
	text-transform: uppercase;
}
.box .hbox{
	background: linear-gradient(to right, #ff4b2b, #ff416c);
	height: 35%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 40%;
	border-bottom-left-radius: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	
}
.bbox{
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 0.6em;
	align-items: center;
	text-align: center;
}
.bbox ul{
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 80%;

}
.bbox li{
	width: 100%;
	background-color: white;
	height: 51px;
	display: flex;
	align-items: center;
}
.bbox a{
	width: 100%;
	display: inline-block;
	

}
.bbox li:hover{
	border-right: 15px solid #ff4b2b;
	border-left: 15px solid #ff4b2b;
}
.bbox li:hover a{
	color: #ff4b2b;
}
	
.bbox>a{
	background: linear-gradient(to right, #ff4b2b, #ff416c);
	padding: 0.7em 1.2em;
	width: 50%;
	border-radius: 25px;
	color: #fff;
}

.bbox>a:hover{
	opacity: 0.8;
}
@media(max-width: 900px) {
	.grid{
		display: grid;
		grid-template-columns: 1fr 1fr;

	}
	.box{
		margin: 2em auto;
	}
}

@media(max-width: 600px) {
	.grid{
		display: grid;
		grid-template-columns: 1fr;

	}
	.box{
		margin: 2em auto;
	}
}


















